NEXT_PUBLIC_SITE_URL=http://localhost:3000
FORCE_VISUAL_SNAPSHOT=true
FORCE_FULL_PAGE_SNAPSHOT=false

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=conversion-assets
